<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" sizes="500x500" href="../img/logo-img.png" type="image/png">
  <title>Blue Tech</title>
  <link rel="stylesheet" href="../css/animate.min.css" />
  <link rel="stylesheet" href="../css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/magic.min.css">
  <link rel="stylesheet" href="../css/jquery.fsscroll.css">
  <link rel="stylesheet" href="../css/magic.min.css">
  <script defer src="../js/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/uikit.css">
  <script defer src="../js/aos.js"></script>
  <script defer src="../js/uikit.js"></script>
</head>

<body onload="setTimeout('redirect()',100)">
  <div class="container" data-fs-scroll style="overflow: hidden;">
    <%- include('./utils/navbar')  %>
    <div class="socialNetwork uk-position-left uk-position-absolute">
      <button class="uk-close-large" uk-close></button>
      <a href="https://www.gmail.com" class="img magictime puffIn" target="_blank"><img src="../img/gmail.png"
          class="gmail" alt=""></a>
      <a href="https://www.facebook.com" class="img magictime puffIn" target="_blank"><img src="../img/facebook.png"
          class="facebook" alt=""></a>
      <a href="https://www.youtube.com" class="img magictime puffIn" target="_blank"><img src="../img/youtube.png"
          class="youtube" alt=""></a>
      <a href="https://www.instagram.com" class="img magictime puffIn" target="_blank"><img src="../img/instagram.png"
          class="instagram" alt=""></a>
    </div>
    <div class="sections">
      <div class="uk-visible@m">
        <div class="section section0">
          <h1 class="white-text">Welcome to BLUETECH</h1>
          <P class="uk-text-center uk-responsive-width uk-position-center">Founded in FengXian District,Shanghai.2004,
            Bluetech had been
            rewarded as " Shanghai Hight Tech Enterprise". <br>
            Bluetech become the only water filter pitcher supplier for 2010 EXPO. <br>
            It starts getting the patents of invention. <br>
            Bluetech had been authorized as Shanghai fostering technology giant. <br> Bluetech always adheres to the
            concept of <br>
            “ Maintain human being more healthier” ,
            Care for human beings drinking safety always.
          </P>
          <div class="button-area">
            <button type="submit" class="uk-button uk-button-large button1 magictime puffIn">About
              BLUETECH</button><span class="uk-margin-left"></span>
            <button type="submit" class="uk-button uk-button-large button2 magictime puffIn">Get Price</button>
          </div>
          <video autoplay muted loop id="myVideo" style="filter: brightness(60%);width: 100%; object-fit: cover;">
            <source src="../video/factory.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="uk-visible@m">
        <div class="section section1">
          <div>
            <h2 class="uk-padding uk-padding-remove-bottom h1" style="padding-top: 7vh;">Our Products</h2>
          </div>
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
            uk-slider="autoplay: true;autoplay-interval:2000">

            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
              <li>
                <div class="card">
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../img/000/HS518-1.jpg" alt="">
                    </div>
                    <div class="uk-card-body uk-text-left ">
                      <h4 class="uk-card-title">JASMINE GREEN HS518</h4>
                      <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                      <span class="p uk-text-left">After Purify: 1.3L</span><br>
                      <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                      <span class="p uk-text-left">Fits in smart filter F001/2/3/4/8</span><br><br>
                      <a href="/products" class="uk-button btn-small bg uk-border-rounded">view product</a>

                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="uk-card uk-card-default shadow-lg">
                    <div class="uk-card-media-top">
                      <img src="../img/000/HS518-2.jpg" alt="">
                    </div>
                    <div class="uk-card-body uk-text-left ">

                      <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                      <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                      <span class="p uk-text-left">After Purify: 1.3L</span><br>
                      <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                      <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>

                      <a href="" class="uk-button bg uk-border-rounded">view product</a>


                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../img/000/HS518-3.jpg" alt="">
                    </div>
                    <div class="uk-card-body uk-text-left ">

                      <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                      <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                      <span class="p uk-text-left">After Purify: 1.3L</span><br>
                      <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                      <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>

                      <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>

                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../img/000/HS523-1.jpg" alt="">
                    </div>
                    <div class="uk-card-body uk-text-left ">

                      <h4 class="uk-card-title">JASMINE LIGHT BLUE HS518</h4>
                      <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                      <span class="p uk-text-left">After Purify: 1.3L</span><br>
                      <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                      <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>

                      <a href="" class="uk-button bg uk-border-rounded">view product</a>

                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="uk-card uk-card-default shadow-lg">
                    <div class="uk-card-media-top">
                      <img src="../img/000/HS518-2.jpg" alt="">
                    </div>
                    <div class="uk-card-body uk-text-left ">

                      <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                      <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                      <span class="p uk-text-left">After Purify: 1.3L</span><br>
                      <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                      <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>

                      <a href="" class="uk-button bg uk-border-rounded">view product</a>


                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <a class="uk-position-center-left uk-text-bolder uk-position-small uk-hidden-hover" href="#"
              uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-text-bolder uk-position-small uk-hidden-hover" href="#"
              uk-slidenav-next uk-slider-item="next"></a>
          </div>
        </div>
      </div>


      <div class="uk-visible@m">
        <div class="section section2">
          <h1 class="white-text">What Is Our Aim</sup></h1>
          <P class="uk-text-center uk-responsive-width uk-position-center">2003, Founded in FengXian
            District,Shanghai.
            2000 sq<sub>2</sub> lab established.
            Total sqm reaches 28000 sq<sup>2</sup>. <br>
            Bluetech got WQA and ISO9001-2008 system certificate.
            Bluetech become the only water filter pitcher supplier for 2010 EXPO. <br>
            Bluetech got TUV food grade certificate.
            Bluetech had been authorized as Shanghai Fengxian district patent testing enterprise,<br> and passed the
            Shanghai high tech enterprise re-audit.
            Bluetech had been authorized as Shanghai patent testing enterprise. <br>
            Bluetech got ISO14000 environmental system certificate, ISO 18000 career safety and hygiene management
            system certificate.
          </P>
          <br>
          <div class="button-area">
            <button type="submit" class="uk-button uk-button-large button1 magictime puffIn">About
              BLUETECH</button><span class="uk-margin-left"></span>
            <button type="submit" class="uk-button uk-button-large button2 magictime puffIn">Get Price</button>
          </div>
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
            uk-slideshow="animation: push;autoplay: true;autoplay-interval:5000">
            <ul class="uk-slideshow-items">
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt14.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                  <img src="../img/bt15.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt16.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                  <img src="../img/bt17.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt18.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                  <img src="../img/bt19.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt20.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
              uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
              uk-slideshow-item="next"></a>
          </div>
        </div>
      </div>

      <div class="uk-visible@m">
        <div class="section section3">
          <h1 class="white-text">Our Service Rely On</sup></h1>
          <P class="uk-text-center uk-responsive-width uk-position-center">2003, Founded in FengXian
            District,Shanghai.
            2000 sq<sub>2</sub> lab established.
            Total sqm reaches 28000 sq<sup>2</sup>. <br>
            Bluetech got WQA and ISO9001-2008 system certificate.
            Bluetech become the only water filter pitcher supplier for 2010 EXPO. <br>
            Bluetech got TUV food grade certificate.
            Bluetech had been authorized as Shanghai Fengxian district patent testing enterprise,<br> and passed the
            Shanghai high tech enterprise re-audit.
            Bluetech had been authorized as Shanghai patent testing enterprise. <br>
            Bluetech got ISO14000 environmental system certificate, ISO 18000 career safety and hygiene management
            system certificate.
          </P>
          <br>
          <div class="button-area">
            <button type="submit" class="uk-button uk-button-large button1 ">About
              BLUETECH</button><span class="uk-margin-left"></span>
            <button type="submit" class="uk-button uk-button-large button2">Get Price</button>
          </div>
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
            uk-slideshow="animation: push;autoplay: true;autoplay-interval:5000">
            <ul class="uk-slideshow-items">
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt21.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt22.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt23.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                  <img src="../img/bt24.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt25.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt26.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
              <li>
                <div
                  class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                  <img src="../img/bt27.jpg" class="img-brightness" alt="" uk-cover>
                </div>
              </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
              uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
              uk-slideshow-item="next"></a>
          </div>
        </div>
      </div>
      <div class="uk-visible@m">
        <div class="section section4">
          <h1 class="white-text">SHANGHAI BLUETECH CO.,LTD.</h1>
          <address class="uk-text-center uk-responsive-width">No.333 HuaSong Rd,Fengxian district,Shanghai,China <br>
            <b>Tell:</b> +862167156577, +862157158533 <br>
            <b>Fax:</b> +862167157398 <br>
            <b>Email:</b> sharron@cn-bluetech.com
          </address>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right"
            style="height: 20vh;">
            <img src="../img/hs.jpg" class="img-brightness" alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('home').classList.add('active_color_nav');
    document.getElementById('home').classList.remove('white-text');
  </script>
  <script src="../js/jquery-3.4.0.slim.min.js"></script>
  <script src="../js/jquery.fsscroll.js"></script>
  <script>
    function redirect() {
      if (screen.width <= 1100) {
        window.location = "http://localhost:9090/mobile";
      }
    }
    $(document).ready(function () {
      $('.container').fsScroll({
        keyboard: true,
        loop: false,
        duration: 2000,

        beforeScroll: function (el, index) {
          el.find('h1').addClass('text-animate');
        },

        afterScroll: function (el, index) {
          el.find('h1').removeClass('text-animate');
        }
      })
      $('.uk-navbar-nav-li-a').hover(function () {
        $(this).toggleClass('magictime puffIn');
      })
      $('.facebook').hover(function () {
        $(this).toggleClass('magictime puffIn');
      })
      $('.gmail').hover(function () {
        $(this).toggleClass('magictime puffIn');
      })
      $('.youtube').hover(function () {
        $(this).toggleClass('magictime puffIn');
      })
      $('.instagram').hover(function () {
        $(this).toggleClass('magictime puffIn');
      })
      $('.uk-close-large').click(function (e) {
        e.preventDefault();
        $('.socialNetwork').addClass('hide');
      });
      // $('.uk-card-default').hover(function () {
      //   $(this).toggleClass('magictime puffIn');
      // });
      $('.card').addClass('uk-padding-small');
      AOS.init();
    });
  </script>
</body>

</html>