<%- include('./utils/header')  %>
<div class="uk-visible@m">
    <%- include('./utils/navbar')  %>
</div>
<div class="uk-hidden@m">
    <%- include('./mobile/sidenav')  %>
</div>

<div>
    <h1 class="uk-text-center uk-padding">JASMINE</h1>
</div>

<div uk-slider="center: true;autoplay: true;autoplay-interval:2000">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-4@s uk-grid">
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-1.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
                            <h4 class="uk-card-title">JASMINE GREEN HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F001/2/3/4/8</span><br><br>
                            <a href="/products" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-2.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-3.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS523-1.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE LIGHT BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-2.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-3.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
<div>
    <h1 class="uk-text-center uk-padding uk-padding-remove-bottom">TULIP</h1>
</div>

<div uk-slider="center: true;autoplay: true;autoplay-interval:2000;finite:false">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-4@s uk-grid">
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-1.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
                            <h4 class="uk-card-title">JASMINE GREEN HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F001/2/3/4/8</span><br><br>
                            <a href="/products" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-2.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-3.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS523-1.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE LIGHT BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-2.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-2.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>
    
                            <a href="" class="uk-button bg uk-border-rounded">view product</a>
    
    
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="uk-card uk-card-default shadow-lg">
                        <div class="uk-card-media-top">
                            <img src="../img/000/HS518-3.jpg" alt="">
                        </div>
                        <div class="uk-card-body uk-text-left ">
    
                            <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                            <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                            <span class="p uk-text-left">After Purify: 1.3L</span><br>
                            <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                            <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>
    
                            <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>
    
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

<script>
    $(document).ready(function () {
        $('#products').addClass('active_color_nav');
        $('#products').removeClass('white-text');
        $('.uk-card').addClass('magictime vanishIn');
        AOS.init();
        $('.card').hover(function () {
            $(this).addClass('magictime puffIn');
        },function(){
            $(this).removeClass('magictime puffIn');
        });
    });
</script>
<%- include('./utils/footer')  %>