<%- include('../mobile/mobileHeader')  %>
<%- include('../mobile/sideNav')  %>

<div class="socialNetwork uk-position-left uk-position-absolute">
    <button class="uk-close-large white-text" onclick="hide()" uk-close></button>
    <a href="https://www.gmail.com" class="img" target="_blank"><img src="../img/gmail.png" class="gmail" alt=""></a>
    <a href="https://www.facebook.com" class="img" target="_blank"><img src="../img/facebook.png" class="facebook"
            alt=""></a>
    <a href="https://www.youtube.com" class="img" target="_blank"><img src="../img/youtube.png" class="youtube"
            alt=""></a>
    <a href="https://www.instagram.com" class="img" target="_blank"><img src="../img/instagram.png" class="instagram"
            alt=""></a>
</div>

<div class="white-text uk-position-bottom-center uk-position-z-index" uk-icon="icon:  chevron-down;ratio: 2"></div>

<div class="container m-0 p-0" data-fs-scroll>
    <div class="sections">
        <div class="section section_mb bg m-0 p-0">
            <video autoplay muted loop id="myVideo">
                <source src="../video/factory.mp4" type="video/mp4">
            </video>
            <h2 class="white-text animate__animated animate__fadeInDown">Welcome to BLUETECH</h2>
            <P
                class="uk-text-justify uk-responsive-width uk-padding white-text pt-0 animate__animated animate__fadeInDown">
                Founded in FengXian
                District,Shanghai.2004,
                Bluetech had been
                rewarded as " Shanghai Hight Tech Enterprise".
                Bluetech become the only water filter pitcher supplier for 2010 EXPO.
                It starts getting the patents of invention.
                Bluetech had been authorized as Shanghai fostering technology giant. Bluetech always adheres to the
                concept of
                “ Maintain human being more healthier” ,
                Care for human beings drinking safety always.
            </P>
        </div>

        <div class="section section_mb bg m-0 p-0">
            <div>
                <h2 class="h1 white-text">Our Products</h2>
            </div>
            <div uk-slider="center: true;autoplay: true;autoplay-interval:2000">

                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                    <ul class="uk-slider-items uk-child-width-1-4@s uk-grid">
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS518-1.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">
                                        <h4 class="uk-card-title">JASMINE GREEN HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in smart filter F001/2/3/4/8</span><br><br>
                                        <a href="/products" class="uk-button btn-small bg uk-border-rounded">view
                                            product</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS518-2.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">

                                        <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>

                                        <a href="" class="uk-button bg uk-border-rounded">view product</a>


                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS518-3.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">

                                        <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>

                                        <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS523-1.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">

                                        <h4 class="uk-card-title">JASMINE LIGHT BLUE HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>

                                        <a href="" class="uk-button bg uk-border-rounded">view product</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS518-2.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">

                                        <h4 class="uk-card-title">JASMINE DARK BLUE HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in smart filter F003/8</span><br><br>

                                        <a href="" class="uk-button bg uk-border-rounded">view product</a>


                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <div class="uk-card uk-card-default shadow-lg">
                                    <div class="uk-card-media-top">
                                        <img src="../img/000/HS518-3.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body uk-text-left ">

                                        <h4 class="uk-card-title">JASMINE WHITE HS518</h4>
                                        <span class="p uk-text-left">Total capacity: 2.4L</span><br>
                                        <span class="p uk-text-left">After Purify: 1.3L</span><br>
                                        <span class="p uk-text-left">Ideal size fits in fridge door.</span><br>
                                        <span class="p uk-text-left">Fits in small filter F001/2/3/4/8</span><br><br>

                                        <a href="" class="uk-button btn-small bg uk-border-rounded">view product</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                        uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
        </div>

        <div class="section section_mb bg m-0 p-0">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                uk-slideshow="animation: push;autoplay: true;autoplay-interval:5000">
                <ul class="uk-slideshow-items">
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt14.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="../img/bt15.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt16.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="../img/bt17.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt18.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="../img/bt19.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt20.jpg" alt="" uk-cover>
                        </div>
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
            <h2 class="white-text animate__animated animate__fadeInDown">What Is Our Aim</sup></h1>
                <P
                    class="uk-text-justify uk-responsive-width uk-padding white-text pt-0 animate__animated animate__fadeInDown">
                    2003, Founded in FengXian
                    District,Shanghai.
                    2000 sq<sub>2</sub> lab established.
                    Total sqm reaches 28000 sq<sup>2</sup>. <br>
                    Bluetech got WQA and ISO9001-2008 system certificate.
                    Bluetech become the only water filter pitcher supplier for 2010 EXPO. <br>
                    Bluetech got TUV food grade certificate.
                    Bluetech had been authorized as Shanghai Fengxian district patent testing enterprise,<br> and passed
                    the
                    Shanghai high tech enterprise re-audit.
                    Bluetech had been authorized as Shanghai patent testing enterprise. <br>
                    Bluetech got ISO14000 environmental system certificate, ISO 18000 career safety and hygiene
                    management
                    system certificate.
                </P>
                <br>
        </div>
        <div class="section section_mb bg m-0 p-0">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                uk-slideshow="animation: push;autoplay: true;autoplay-interval:5000">
                <ul class="uk-slideshow-items">
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt21.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt22.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt23.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="../img/bt24.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt25.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt26.jpg" alt="" uk-cover>
                        </div>
                    </li>
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/bt27.jpg" alt="" uk-cover>
                        </div>
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
            <h2 class="white-text animate__animated animate__fadeInDown">Our Service Rely On</sup></h1>
                <P
                    class="uk-text-justify uk-responsive-width uk-padding white-text pt-0 animate__animated animate__fadeInDown">
                    2003, Founded in FengXian
                    District,Shanghai.
                    2000 sq<sub>2</sub> lab established.
                    Total sqm reaches 28000 sq<sup>2</sup>. <br>
                    Bluetech got WQA and ISO9001-2008 system certificate.
                    Bluetech become the only water filter pitcher supplier for 2010 EXPO. <br>
                    Bluetech got TUV food grade certificate.
                    Bluetech had been authorized as Shanghai Fengxian district patent testing enterprise,<br> and passed
                    the
                    Shanghai high tech enterprise re-audit.
                    Bluetech had been authorized as Shanghai patent testing enterprise. <br>
                    Bluetech got ISO14000 environmental system certificate, ISO 18000 career safety and hygiene
                    management
                    system certificate.
                </P>
        </div>

        <div class="section section_mb bg m-0 p-0">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                uk-slideshow="animation: push;autoplay: true;autoplay-interval:5000">
                <ul class="uk-slideshow-items">
                    <li>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="../img/hs.jpg" alt="" uk-cover>
                        </div>
                    </li>
                </ul>
            </div>
            <h3 class="white-text animate__animated animate__fadeInDown">SHANGHAI BLUETECH CO.,LTD.</h3>
            <br>
            <p
                class="uk-text-left uk-responsive-width uk-padding pt-0 white-text animate__animated animate__fadeInDown">
                No.333 HuaSong Rd,Fengxian district,Shanghai,China <br>
                <b>Tell:</b> +862167156577, +862157158533 <br>
                <b>Fax:</b> +862167157398 <br>
                <b>Email:</b> sharron@cn-bluetech.com
            </p>
        </div>
    </div>
</div>

<%- include('../mobile/footer')  %>