<div class="uk-position-relative">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" style="background: transparent;">
        <nav class="uk-navbar-container uk-visible@m" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/"><img src="../img/logo-img.png" alt="logo-image" class="img" uk-img></a>
                    </li>
                    <li>
                        <a href="/"><img src="../img/brand-name.png" alt="logo-image" class="img" uk-img></a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-navbar-nav-li">
                    <li>
                        <a href="/" class="white-text uk-navbar-nav-li-a" id="home">| Home |</a>
                    </li>
                    <li>
                        <a href="/products" class="white-text uk-navbar-nav-li-a" id="products">| Products |</a>
                    </li>
                    <li>
                        <a href="#" class="white-text uk-navbar-nav-li-a" id="about">| About Us |</a>
                    </li>
                    <li>
                        <a href="#" class="white-text uk-navbar-nav-li-a" id="support">| Support |</a>
                    </li>
                    <li>
                        <a href="#" class="white-text uk-navbar-nav-li-a" id="service">| Services |</a>
                    </li>
                    <li>
                        <a href="#" class="white-text uk-navbar-nav-li-a">| News |</a>
                        <div class="uk-navbar-dropdown" style="background-color: #18a6e7;">
                            <ul class="uk-nav uk-navbar-dropdown-nav dropdown-nav dropdown-nav">
                                <li><a href="#" class="white-text magictime puffIn">Active</a></li>
                                <li><a href="#" class="white-text magictime puffIn">Item</a></li>
                                <li><a href="#" class="white-text magictime puffIn">Item</a></li>
                                <li><a href="#" class="white-text magictime puffIn">Item</a></li>
                                <li><a href="#" class="white-text magictime puffIn">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="white-text uk-navbar-nav-li-a">| Contact Us |</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>